<!DOCTYPE html>
<html lang="ja">
    <head>
        <style type="text/css">
            table, td, th {
                border: solid black 1px;
            }
            table {
                width: 200px;
            }
        </style>
    <title>
    <meta charset="UTF-8">
        自動販売機　管理画面
    </title>
    </head>
    <body>
        <!-- hr:線をひく-->
        <hr>
        <font size="5">
        <b><p1>新商品追加</p1></b>
        </font>
        <form>
            <label for="order_name">名前：</label>
            <input name="order_name">
            <br><label for="price">値段：</label>
            <input name="price">
            <br><label for="order_number">個数：</label>
            <input name="order_number"> 
            
            <!-- ファイル選択 -->
            <br><input type="file" name="ファイルを選択">

            <!-- セレクトボックスの指定 -->
            <br><select name = "PublicPrivate">
                <option value="公開">公開</option>
                <option value="非公開">非公開</option>
            </select>

            <!-- 商品追加ボタン -->
            <br><input type="submit" value="■ □ ■ □ ■ 商品追加 ■ □ ■ □ ■">
        </form>
        <hr>
        <font size="5">
        <b><p>商品情報　変更</p></b>
        </font>
        <font size="1">
        <h1>商品一覧</h1>
        </font>
        <table>
        <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>在庫数</th>
            <th>ステータス</th>
        </tr> 

        {% for item in order_manegiment %}
        <tr>
             <td> {{ item.drink_name }} </td>
             <td>{{ item.price }}</td>
             <td>{{ item.drink_number }}</td>
             <td>{{ item.publicprivate }}</td>
        </tr>
        {% endfor %}
        </table>
    </body>

</html>