<!DOCTYPE html>
<html lang="ja">
    <meta charset="utf-8">
    <style type="text/css">
        table, td, th {
            border: solid black 1px;
        }
        table {
            width: 200px;
        }
    </style>
    <title>
        自動販売機
    </title>
    <body>
        <form method="post">
        <font size="4"><h1>自動販売機</h1></font>
        <label for="add_price">金額</label>
        <input name="add_price"><br>
        {% if mes %}
            <p>{{ mes }}</p>
        {% endif %}
        <table width="100" height="100">    
            {% for item in order_drink_data %}
            {% if item.publicprivate == 1 %}
            <tr>
                <td> <img src ="static/{{ item.drink_photo}}" width="100" height="100"></td>
                <td> {{ item.drink_name }} </td>
                <td> {{ item.price }} </td>
                <td> 
                {% if item.drink_number == 0 %}
                    <font color="#dc143c"> 売り切れ </font>
                {% endif %}
                {% if item.drink_number > 0 %}
                    <input type="radio" name="buy_order" value="{{item.drink_id}}" {{'checked' if buy_order == "{{ item.drink_name }}"}}>
                {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

        <br><button type="submit" name="buy_drink">■ □ ■ □ ■ 購入 ■ □ ■ □ ■</button>
        </form>
    </body>
</html>