<!DOCTYPE html>
<html lang="ja">
    <meta charset="utf-8">
    <style type="text/css">
        table, td, th {
            border: solid black 1px;
        }
        table {
            width: 200px;
        }
    </style>
    <title>
        自動販売機
    </title>
    <body>
        <form method="post" action="buy_result">
        <font size="4"><h1>自動販売機</h1></font>
        <label for="add_price">金額</label>
        <input name="add_price">

        <table>    
            {% for item in order_drink_data %}
            <tr>
                 <td> <img src ="static/{{ item.drink_photo}}" width="100" height="100"></td>
                 <td> {{ item.drink_name }} </td>
                 <td> {{ item.price }} </td>
                 <td> {{ item.drink_number }} </td>
            </tr>
            {% endfor %}
        </table>

        <br><input type="submit" value="■ □ ■ □ ■ 購入 ■ □ ■ □ ■">
        </form>
    </body>
</html>